.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.form-goback-btn {
    font-weight: 400;
}

.form-header {
    font-weight: bold;
}

.form-filling {
    width: 20%; 
    margin: 25px auto;
}